.home-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 20px;
  }
  
  .section {
    flex: 1;
    margin: 20px; 
    min-width: 250px; 
  }
  
  .section h2, .users-section h1 {
    text-align: center;
  }
  
  .users-section {
    flex: 6; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .users-list, .items-list {
    list-style-type: none;
    padding: 0;
  }
  
  .list-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; 
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column; 
      align-items: center; 
    }
  
    .section {
      width: 100%;
    }
  
    .users-section, .items-section, .points-section {
      order: 1;
    }
  }
  