.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.admin-container h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #ED6306;
}

.admin-container h2 {
    text-align: center;
}

.admin-container h2:hover {
    cursor: pointer;
    color: #ED6306;
}